{% extends "index.html" %}

{% block title %}
    Log
{% endblock %}

{% block javascript %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            // get log form element
            document.querySelector('#transactiontype').addEventListener('change', function() {
                let logForm = document.getElementById('log_form');
                let transactionType = document.querySelector('#transactiontype');
                let divToggle = document.querySelectorAll('.div-toggle');
                let expenseToggle = document.querySelectorAll('.expense-toggle');
                let transferToggle = document.querySelectorAll('.transfer-toggle');

                for (let i = 0; i < divToggle.length; i++) {
                    divToggle[i].setAttribute('style', 'display:block');
                }

                if (transactionType.value == 'Expense') {
                    for (let i = 0; i < expenseToggle.length; i++) {
                    expenseToggle[i].setAttribute('style', 'display:block');
                }}
                else {
                    for (let i = 0; i < expenseToggle.length; i++) {
                    expenseToggle[i].setAttribute('style', 'display:none');
                    expenseToggle[i].value = '';
                }}

                if (transactionType.value == 'Transfer' || transactionType.value == 'Lend' || transactionType.value == 'Payback' || transactionType.value == 'Invest') {
                    for (let i = 0; i < transferToggle.length; i++) {
                    transferToggle[i].setAttribute('style', 'display:block');
                }}
                else {
                    for (let i = 0; i < transferToggle.length; i++) {
                    transferToggle[i].setAttribute('style', 'display:none');
                    transferToggle[i].value = '';
                }}
            });
            });
    </script>

{% endblock %}

{% block nav %}

    <nav class="nav nav-pills justify-content-center">
        <a class="nav-link" href="/">Accounts</a>
        <a class="nav-link active" aria-current="page" href="/log">Log</a>
        <a class="nav-link" href="/stats">Stats</a>
    </nav>

{% endblock %}

{% block body %}
    <div>
        <div id="log_transaction">
            <form id="log_form" action="/log" method="post">
                <h2>Log Transaction:</h2>
                <div>
                    <label>Transaction Type:</label>
                    <select id="transactiontype" name="transactiontype">
                            <option value="" disabled selected hidden></option>
                            <option value="Expense">Expense</option>
                            <option value="Income">Income</option>
                            <option value="Transfer">Transfer</option>
                            <option value="Lend">Lend</option>
                            <option value="Borrow">Borrow</option>
                            <option value="Payback">Payback</option>
                            <option value="Invest">Invest</option>
                    </select>
                </div>
                <div class="expense-toggle" style="display:none">
                    <label>Expense Category:</label>
                    <select id="expensetype" name="expensetype">
                        <option value="" disabled selected hidden></option>
                        <option value="Food">Food</option>
                        <option value="Household">Household</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Social Life">Social Life</option>
                        <option value="Self-Development">Self Development</option>
                        <option value="Apparel">Apparel</option>
                        <option value="Beauty">Beauty</option>
                        <option value="Health">Health</option>
                        <option value="Gift">Gift</option>
                        <option value="Culture">Culture</option>
                        <option value="Gadgets">Gadgets</option>
                        <option value="Education">Education</option>
                        <option value="Other">Other</option>
                </select>
                </div>
                <div class="div-toggle" style="display:none">
                    <label>Date:</label>
                    <input name="date" type="date">
                </div>
                <div class="div-toggle" style="display:none">
                    <label>Description:</label>
                    <input name="description" type="text">
                </div>
                <div class="div-toggle" style="display:none">
                    <label>To Account:</label>
                    <select name="toaccount">
                        {% for row in accounts %}
                            <option value="" disabled selected hidden></option>
                            <option value="{{ row['account_name'] }}">{{ row['account_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="transfer-toggle" style="display:none">
                    <label>From Account:</label>
                    <select name="fromaccount">
                        {% for row in accounts %}
                            <option value="" disabled selected hidden></option>
                            <option value="{{ row['account_name'] }}">{{ row['account_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="div-toggle" style="display:none">
                    <label>Amount:</label>
                    <input name="amount" type="number" step="0.01">
                </div>
                <div class="div-toggle" style="display:none">
                    <button id="log_btn">Submit</button>
                </div>
           </form>
        </div>
        <table id="log_table" class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Date</th>
                    <th class="text-start">Transaction Type</th>
                    <th class="text-start">Description</th>
                    <th class="text-start">To Account</th>
                    <th class="text-start">From Account</th>
                    <th class="text-end">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for row in transactions %}
                    <tr>
                        <td class="text-start">{{ row["date"]}}</td>
                        <td class="text-start">{{ row["transaction_type"] }}</td>
                        <td class="text-start">{{ row["description"] }}</td>
                        <td class="text-start">{{ row["to_account"] }}</td>
                        <td class="text-start">{{ row["from_account"] }}</td>
                        <td class="text-end">{{ row["amount"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
